*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
/*--color-brand-primary:#A6D13B; */

--spacing-xsmall: 4px;
--spacing-small: 8px;
--spacing-default: 16px;
--spacing-medium: 24px;
--spacing-large: 32px;
--spacing-xlarge: 40px;

}

body {
    background-color: #18181b;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: var(--spacing-default) auto;
}

.heading h1{
    font-size: 50px; /* MUDAR O TAMANHO DOS PIXELS*/
    color: #e8e8e8;
    margin-bottom: 25px; /* MUDAR O TAMANHO DOS PIXELS*/
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.content{ /* MUDAR E REVER OS ATRIBUTOS */
    width: 100%;
    padding: 10px 20px; 
    background-color: #4caf50;
}


.sobre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.imagemSobre {
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}

.imagemSobre img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.imagemSobre:hover img{
    transform: scale(1.2);
}

.conteudoSobre {
    flex: 1;
}

.conteudoSobre h2{
    font-size: 40px;
    margin-bottom: 15px;
    color: #333;
}

.conteudoSobre p{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}



