*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
/*--color-brand-primary:#A6D13B; */

--spacing-xsmall: 4px;
--spacing-small: 8px;
--spacing-default: 16px;
--spacing-medium: 24px;
--spacing-large: 32px;
--spacing-xlarge: 40px;

}

body {
    background-color: #18181b;
    font-family: "Montserrat", "Open Sans", Arial, Helvetica, sans-serif;
}

.heading {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: var(--spacing-default) auto;
}

.heading h1{
    font-size: 2.3rem; /* MUDAR O TAMANHO DOS PIXELS*/
    color: #e8e8e8;
    margin-bottom: 25px; /* MUDAR O TAMANHO DOS PIXELS*/
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;
}

.conteudo-total {
    display: flex;
    align-items: center;
}

.sobre{
    display: flex;
    align-items: center;
    height: 320px;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #18181b;
}

.imagem-sobre {
    display: flex;
    width: 40vw;
    margin-right: 40px;
    overflow: hidden;
}

.imagem-sobre img{
    max-width: 100%;
    display: block;
    transition: 0.5s ease;
}

.imagem-sobre:hover img{
    transform: scale(1.2);
}

.conteudo-sobre {
    padding-top: 5vh;
    padding-right: 3vw;
}

.conteudo-sobre h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
}

.conteudo-sobre p{
    font-size: 1.3rem;
    line-height: 1.5;
    color: #333;
}

.content-CB {
    background-color: #4caf50;
}
.content-exemplos{ /* MUDAR E REVER OS ATRIBUTOS */

    background-color: #51f359;
}

.content-eficiencia{ /* MUDAR E REVER OS ATRIBUTOS */

    background-color: #4caf50;
}

.content-menos-prejudicial { /* MUDAR E REVER OS ATRIBUTOS */

    background-color: #51f359;
}



.topico {
    font-weight: 600;
}