*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
/*--color-brand-primary:#A6D13B; */

--spacing-xsmall: 4px;
--spacing-small: 8px;
--spacing-default: 16px;
--spacing-medium: 24px;
--spacing-large: 32px;
--spacing-xlarge: 40px;

}

.contato {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contato label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contato input,
  .contato textarea,
  .contato select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .contato input[type="submit"] {
    background-color: #A6D13B;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .contato input[type="submit"]:hover {
    background-color: #7ba532;
  }
  
  .contato textarea {
    resize: vertical;
    height: 100px;
  }
  
  .contato input[type="checkbox"] {
    margin-top: 10px;
    margin-right: 5px;
  }
  
  .contato select {
    margin-bottom: 15px;
  }
  
  .contato label[for="termos"] {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
  }
  
  .contato label[for="termos"],
  .contato label[for="spcia"] {
    font-weight: normal;
  }
  
  .contato input[type="radio"],
  .contato input[type="checkbox"] {
    vertical-align: middle;
  }

@media (max-width:425px) {
    
}

@media (min-width:426px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width:1024px) {
    
}

@media (min-width:1025px) {
    
}
