*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
--color-brand-primary:#A6D13B;

--spacing-xsmall: 4px;
--spacing-small: 8px;
--spacing-default: 16px;
--spacing-medium: 24px;
--spacing-large: 32px;
--spacing-xlarge: 40px;

}


@media (max-width:425px) {
    
}

@media (min-width:426px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width:1024px) {
    
}

@media (min-width:1025px) {
    
}