*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #18181b;
}
:root {
/*--color-brand-primary:#A6D13B; */

--spacing-xsmall: 4px;
--spacing-small: 8px;
--spacing-default: 16px;
--spacing-medium: 24px;
--spacing-large: 32px;
--spacing-xlarge: 40px;

}

.inicio img{
    max-width: 100vw;
}
.presentationAgroSus {
    background-color: rgb(12, 159, 88);
    height: 500px;
    display: flex;
    align-items: center;
} 

.presentationAgroSus img {
    max-height:70%;

}

.presentationIAgen {
    height: 500px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}

.presentationIAgen img{
    max-height: 80%;
}

.presentationModCult {
height: 500px;
background-color: brown;
display: flex;
align-items: center;
}

.presentationModCult img{
    max-height: 80%;
}

@media (max-width:425px) {
    
}

@media (min-width:426px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width:1024px) {
    
}

@media (min-width:1025px) {
    
}